<html>

<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="https://jhs512.github.io/toastr/toastr.css" rel="stylesheet">

    <!-- 공통 JS 불러오기 -->
    <script src="/resource/common/common.js"></script>
    <!-- 공통 CSS 불러오기 -->
    <link href="/resource/common/common.css" rel="stylesheet">

</head>

<body>

<!-- 데이지 UI 불러오기 -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
<!-- 테일윈드 불러오기 -->
<script src="https://cdn.tailwindcss.com"></script>

<!-- 공통 상단 -->
<header>
    <a class="btn btn-link" href="/">메인</a>
    <a class="btn btn-link" href="/member/login" th:if="${@rq.logout}">로그인</a>
    <a class="btn btn-link" href="/member/join" th:if="${@rq.logout}">회원가입</a>
    <a class="btn btn-link" href="/member/me" th:if="${@rq.login}">내 정보</a>
    <a class="btn btn-link" href="/instaMember/connect" th:if="${@rq.login}">본인의 인스타그램 정보 입력</a>
    <a class="btn btn-link" href="/likeablePerson/add" th:if="${@rq.login}">호감표시</a>
    <a class="btn btn-link" href="/likeablePerson/list" th:if="${@rq.login}">호감목록</a>
    <a class="btn btn-link" href="javascript:;" onclick="$(this).next().submit();" th:if="${@rq.login}">로그아웃</a>
    <form hidden method="POST" th:action="|/member/logout|" th:if="${@rq.login}"></form>
    <span th:if="${@rq.login}" th:text="|${@rq.member.username}님 환영합니다.|"></span>
    <span th:if="${@rq.login and @rq.member.hasConnectedInstaMember()}"
          th:text="|(${#lists.size(@rq.member.instaMember.toLikeablePeople)}/${#lists.size(@rq.member.instaMember.fromLikeablePeople)})|"></span>
</header>

<main layout:fragment="main"></main>

<script th:inline="javascript">
    // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
    const params = /*[[ ${param} ]]*/ null;

    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

    // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        }
    });
</script>

</body>

</html>


